.card{ 
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: inline-block;
    background-color: rgba(156, 156, 115, 0.856);
    border-radius: 18px;
    box-shadow: 10px 10px 5px 5px rgba(26, 19, 19, 0.418);
    overflow: hidden;
    margin: 10px;
    text-decoration: none;
    font-size: small;
}

.card:hover {
    transform: translateY(-10%);
}

.card img{
    height: 150px;
    width: 230px;
}
.vinculo{
    text-decoration: none;
    color: black;
}
.vinculo:visited{
    text-decoration: none;
    color: rgb(8, 91, 105);
}