.center{
    align-content: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.divLogin{
    width: 30rem;
    height: 12rem;
    background-color: white;
    border-radius: 18px;
    margin: auto;
    box-shadow: 7px 13px 37px;
    padding-top: 360px;
    align-self: center;
    justify-self: center;
    padding: 20px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.divLogin h2{
    margin: 0;
    color: black;
    text-align: center;
    height: 40px;
}

.div input{
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 6px;
}

.botonLogin {
    width: 50%;
    height: 3rem;
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Staatliches", sans-serif;
    color: #c4930cdc;
    background-color: black;
    border: 0.5rem solid white;
    border-radius: 3rem;
    cursor: pointer;
    transition: all ease 200ms;
    text-decoration: none;
}
.botonLogin:hover {
    background-color: rgb(206, 140, 40);
    color: black;
    transition: 0.5s;
}

.botonLogin:active {
    transform: translateY(10%);
}