.divLogin{
    width: 400px;
    height: 350px;
    background-color: #4e4d4d;
    margin: auto;
    margin-top: 160px;
    box-shadow: 7px 13px 37px;
    padding: 20px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.divLogin h2{
    margin: 0;
    text-align: center;
    height: 40px;
}

.div input{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 6px;
}